        <% will_paginate @production_schedules %>

        <table class="table table-align-top table-hover">
          <tr>
            <th> <%= t('scheduler.production_schedules.index.Status') %> </th>
            <th> <%= t('scheduler.production_schedules.index.ActiveFrom') %> </th>
            <th> <%= t('scheduler.production_schedules.index.ActiveTo') %> </th>
            <th> <%= t('scheduler.production_schedules.index.Environment') %> </th>
            <th> <%= t('scheduler.production_schedules.index.Mode') %> </th>
            <th> <%= t('scheduler.production_schedules.index.AverageDuration') %> </th>
            <th> <%= t('scheduler.production_schedules.index.LastRun') %> </th>
            <th> <%= t('scheduler.production_schedules.index.NextRun') %> </th>
            <th class="col-min-nw"> <%= t('scheduler.production_schedules.index.Actions') %> </th>
          </tr>

          <tbody>
            <% @production_schedules.each do |schedule| %>
              <tr>
                <td> <%= schedule.status.code %> </td>
                <td> <%= format_date(schedule.active_from) %> </td>
                <td> <%= format_date(schedule.active_to) %> </td>
                <td> <%= schedule.environment.code %> </td>
                <td> <%= translation_for(schedule.mode.name_translations) %> </td>
                <td> <%= schedule.average_duration %> </td>
                <td> <%= schedule.last_run %> </td>
                <td> <%= schedule.next_run %> </td>
                <td class="cell-with-button cell-nw">
                  <%= link_to edit_scheduler_production_schedule_path(schedule), title: t('.Edit'), data: { toggle: "modal", target: "#childModal" }, class: "mat-icon-button mat-button-base mat-secondary" do %>
                    <span class="fa fa-edit"></span>
                  <% end %>
                  <% if schedule.status.code == 'ACTIVE' %>
                    <%= link_to suspend_scheduler_production_schedule_path(schedule), title: t('.Suspend'), data: { toggle: "modal", target: "#childModal" }, class: "mat-icon-button mat-button-base mat-secondary" do %>
                      <span class="fa fa-pause-circle"></span>
                    <% end %>
                  <% else %>
                    <%= link_to release_scheduler_production_schedule_path(schedule), title: t('.Release'), data: { toggle: "modal", target: "#childModal" }, class: "mat-icon-button mat-button-base mat-secondary" do %>
                      <span class="fa fa-play-circle"></span>
                    <% end %>
                  <% end %>
                  <%# link_to run_once_scheduler_production_schedule_path(schedule), title: t('.RunOnce'), method: :post, disabled: !schedule.run_once, class: "mat-icon-button mat-button-base mat-secondary " do %>
                    <span class="fa fa-bolt"></span>
                  <%# end %>
                  <%= link_to scheduler_production_schedule_path(schedule), title: t('.Delete'), data: { confirm: t(".Sure")  }, method: :delete, class: "mat-icon-button mat-button-base mat-warn" do %>
                    <span class="fa fa-trash"></span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <% will_paginate @production_schedules %>
