<% provide(:title, (t('ManagingBHs'))) %>

<% provide :page_heading do %>
    <%= t('BHsReport') %>
<% end %>

<table>
  <thead>
    <tr>
      <th width="200px"> <%= t('Object') %> </th>
      <th width="100px"> <%= t('Tries') %> </th>
      <th width="100px"> <%= t('Inserts') %> </th>
    </tr>
  </thead>

  <tbody>
    <% @counter.each do |monitor| %>
      <tr>
        <td><%= monitor[:object] %></td>
        <td><%= monitor[:tries] %></td>
        <td><%= monitor[:inserts] %></td>
      </tr>
    <% end %>
    <tr>
      <td></td>
      <td align="left"> <%= t('TotalCount') %>: </td>
      <td align="left"><b><%= @lignes %></b></td>
    </tr>
  </tbody>
</table>
<p><%= t('CheckAudit') %></p>

<br>
