
<%= form_with model: [@parent, @task], html: {id: "edit_form"} do |f| %>

  <div class="modal-header">
    <h5 class="modal-title" id="childModalLabel">
      <%= "#{t('.ShowTask')}: #{@task.code || t('New')}" %>
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <%= render partial: "shared/error_list", locals: { errors: @task.errors } %>

    <% provide :task_information do %>
      <% provide :extra_attribute do %>
          <%= f.label :gsbpm, t('business_processes.show.GSBPM'), class: "mat-form-field-label" %>
          <%= f.grouped_collection_select :gsbpm_id,
              values_options_for('GSBPM', 1, @task.parent&.gsbpm_id), # group
              :subs,                                 # descendants
              :name,                                 # group label
              :id,
              :alternate_code,                       # option key & label
              {:include_blank => false},
              { class: "mat-input-element select2-candidate" } %>
      <% end %>
      <div class="row">
        <div class="col-md-12">
          <%= render partial: "shared/object_definition_form",
                      locals: { this_object: @task,
                                f: f,
                                show_status: true,
                                smallTextarea: false } %>
        </div>
        <div class="col-md-6">
          <%# render partial: "shared/object_responsibilities_form",
                      locals: {this_object: @task, f: f} %>
        </div>
      </div>
    <% end %>

    <% provide :task_specifications do %>
      <%= render partial: "task_specifications_form", locals: {f: f} %>
    <% end %>

    <% provide :task_parameters do %>
      <div class="row mat-form-row">
        <div class="mat-form-field col-md-12">
          <%= render partial: "shared/json_parameters_form",
                      locals: { this_object: @task,
                                columns: [
                                            {"fieldName": "name", "layout": "INPUT"},
                                            {"fieldName": "dataType", "layout": "CODELIST", "dataValues": options_for('data_types').map {|dt| dt.code} },
                                            {"fieldName": "value", "layout": "INPUT"},
                                            {"fieldName": "isMandatory", "layout": "CHECKBOX"},
                                          ] } %>
        </div>
      </div>

    <% end %>

    <% tabs_content = [ :task_specifications,
                        :task_parameters,
                        :task_information,
                        :task_details] %>

    <section class="tabbable">

      <ul class="nav nav-tabs" role="tablist">
        <% tabs_content.each_with_index do |tab, index| %>
          <li class="<%= index == 0 ? 'active' : nil %>">
            <a href="#<%= tab.to_s %>" data-toggle="tab">
              <%= t(tab) %>
            </a>
          </li>
        <% end %>
      </ul>

      <div class="tab-content">
        <% tabs_content.each_with_index do |tab, index| %>
          <div class="tab-pane <%= index == 0 ? 'active' : nil %>" id="<%= tab %>">
            <%= yield tabs_content[index] %>
          </div>
        <% end %>
      </div>

    </section>
  </div>

  <div class="modal-footer">
    <button type="button" class="mat-stroked-button mat-button-base" data-dismiss="modal">
      <%= t('Cancel') %>
    </button>
    <button class="mat-flat-button mat-button-base mat-primary">
      <%= t('Submit') %>
    </button>
  </div>

  <!-- ### Hidden fieds trace the parent of this polymorph business object -->
  <%= f.hidden_field :parent_type %>
  <%= f.hidden_field :parent_id %>
<% end %>
