<p id="notice"><%= notice %></p>

<h1>Production Groups</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @production_groups.each do |production_group| %>
      <tr>
        <td><%= link_to 'Show', production_group %></td>
        <td><%= link_to 'Edit', edit_production_group_path(production_group) %></td>
        <td><%= link_to 'Destroy', production_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Production Group', new_production_group_path %>
