<% provide(:page_class, 'page-view-details') %>

<%= form_for [@parent, @business_object], html: {id: "edit_form"} do |f| %>

  <%= render partial: "shared/error_list", locals: { errors: @business_object.errors } %>

    <div class="row">
      <div class="col-md-6">
        <%= render partial: "shared/object_definition_form", locals: {this_object: @business_object, f: f, isTechnical: (not @business_object.is_template), show_status: (not @business_object.is_template) } %>
      </div>

      <div class="col-md-6">
        <% if not @business_object.is_template %>
          <%= render partial: "shared/object_responsibilities_form", locals: {this_object: @business_object, f: f} %>

          <div class="row mat-form-row">
            <div class="mat-form-field col-md-6">
              <%= f.label :period, t('Period'), class: "mat-form-field-label" %>
              <%= f.text_field :period, class: "mat-input-element" %>
            </div>
            <div class="mat-form-field col-md-6">
              <%= f.label :granularity_id, t('Granularity'), class: "mat-form-field-label" %>
              <%= f.collection_select :granularity_id, options_for('regionalities'), :id, :name, {include_blank: true}, { class: "mat-input-element select2-candidate" } %>
            </div>
          </div>
          <div class="row mat-form-row">
            <div class="mat-form-field col-md-6">
              <%= f.label :ogd_id, t('OGD'), class: "mat-form-field-label" %>
              <%= f.collection_select :ogd_id, options_for('ogd_options'), :id, :name, {}, { class: "mat-input-element select2-candidate" } %>
            </div>
            <div class="mat-form-field col-md-6">
              <%= f.label :technology, t('HostingServer'), class: "mat-form-field-label" %>
              <%= f.grouped_collection_select :technology_id,
                  values_options_for('technologies', 1), # group
                  :subs,                                 # descendants
                  :name,                                 # group label
                  :id,
                  :code,                       # option key & label
                  {:include_blank => false},
                  { class: "mat-input-element select2-candidate" } %>
            </div>
          </div>
          <div class="row mat-form-row">
            <div class="mat-form-field col-md-12">
              <%= f.label :participants, t('Participants'), class: "mat-form-field-label" %>
              <%= f.collection_select :participant_ids, list_of_organisations, :id, :name, { }, { multiple: true, class: "mat-input-element select2-candidate" } %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  <!-- ### Hidden fieds trace the parent of this polymorph business object -->
  <%= f.hidden_field :parent_type %>
  <%= f.hidden_field :parent_id %>
  <%= f.hidden_field :is_template %>

  <hr/>

  <section class="tabbable">

    <div class="tabbable">

      <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#data_attributes" data-toggle="tab"><%= t('.UsedVariables') %></a></li>
        <li ><a href="#annotations" data-toggle="tab"><%= t('.Annotations') %></a></li>
      </ul>

      <div class="tab-content">

        <div class="tab-pane active" id="data_attributes">
          <%# List deployed skills %>

          <%= will_paginate @child_skills %>

          <table class="table table-hover">
            <tr>
              <th><%= t('Code') %></th>
              <th><%= t('Name') %></th>
              <th><%= t('Type') %></th>
              <th><%= t('Size') %></th>
              <th><%= t('Precision') %> </th>
              <th><%= t('Codelist') %></th>
              <th><%= t('KeyCols') %></th>
              <th><%= t('Linkable') %></th>
            </tr>

            <tbody>
            <% @child_skills.order(:sort_code).each do |skill| %>
              <tr>
                <td> <%= skill.code %> </td>
                <td class="col_narrow">
                  <% skill.name_translations.order(:language).each_with_index do |tr_name, i| %>
                    <% if i > 0 %>
                      <br/>
                    <% end %>
                    <strong><%= tr_name.language[0,2] %>:</strong>
                    <%= tr_name.translation %>
                  <% end %>
                </td>
                <td> <%= skill.skill_type.name %> </td>
                <td> <%= skill.skill_size %> </td>
                <td> <%= skill.skill_precision %> </td>
                <td> <%= skill.values_list&.code %> </td>
                <td> <%= skill.is_pk %> </td>
                <td> <%= skill.is_pairing_key %> </td>
              </tr>
            <% end %>
          </table>
          <%= will_paginate @child_skills %>

        </div>


        <div class="tab-pane" id="annotations">
          <%= render partial: "shared/annotations_form", locals: { annotations: @business_object.annotations, f: f} %>
        </div>

      </div>

    </div>

  </section>


<% end %>
