<% provide(:page_class, 'page-view-details') %>

<%= form_for [@business_object, @business_rule], html: {id: "edit_form"} do |f| %>

  <%= render partial: "shared/error_list", locals: { errors: @business_rule.errors } %>

    <% provide :information do %>
      <div class="row">
        <div class="col-md-6">
          <%= render partial: "shared/object_definition_form",
                      locals: { this_object: @business_rule,
                                f: f,
                                show_status: true,
                                smallTextarea: false } %>

        </div>
        <div class="col-md-6">
          <%= render partial: "shared/object_responsibilities_form",
                      locals: {this_object: @business_rule, f: f} %>

        </div>
      </div>
    <% end %>

    <% provide :implementation do %>
      <%= render partial: "rule_implementation_form", locals: {f: f} %>
    <% end %>

    <% provide :metrics do %>
      <%= render partial: "rule_metrics_form", locals: {f: f} %>
    <% end %>

    <% provide :solving do %>
      <%= render partial: "rule_solving_form", locals: {f: f} %>
    <% end %>

    <% provide :specifications do %>
      <%= render partial: "rule_specifications_form", locals: {f: f} %>
    <% end %>

    <% tabs_content = [ :information,
                        :specifications,
                        :implementation,
                        :solving,
                        :metrics ] %>

    <section class="tabbable">

      <ul class="nav nav-tabs" role="tablist">
        <% tabs_content.each_with_index do |tab, index| %>
          <li class="<%= index == 0 ? 'active' : nil %>">
            <a href="#<%= tab.to_s %>" data-toggle="tab">
              <%= t(tab.capitalize) %>
            </a>
          </li>
        <% end %>
      </ul>

      <div class="tab-content">
        <% tabs_content.each_with_index do |tab, index| %>
          <div class="tab-pane <%= index == 0 ? 'active' : nil %>" id="<%= tab %>">
          <%= yield tabs_content[index] %>
          </div>
        <% end %>
      </div>

    </section>

<% end %>
