<% provide(:page_class, 'page-view-details') %>

<%= form_with model: [@business_process, @activity], html: {id: "edit_form"} do |f| %>

  <%= render partial: "shared/error_list", locals: { errors: @activity.errors } %>

    <% provide :information do %>
      <% provide :extra_attribute do %>
          <%= f.label :gsbpm, t('business_processes.show.GSBPM'), class: "mat-form-field-label" %>
          <%= f.grouped_collection_select :gsbpm_id,
              values_options_for('GSBPM', 1, @activity.parent&.gsbpm_id), # group
              :subs,                                 # descendants
              :name,                                 # group label
              :id,
              :alternate_code,                       # option key & label
              {:include_blank => false},
              { class: "mat-input-element select2-candidate" } %>
      <% end %>
      <div class="row">
        <div class="col-md-6">
          <%= render partial: "shared/object_definition_form",
                      locals: { this_object: @activity,
                                f: f,
                                show_status: true,
                                smallTextarea: false } %>
        </div>
        <div class="col-md-6">
          <%= render partial: "shared/object_responsibilities_form",
                      locals: {this_object: @activity, f: f} %>
        </div>
      </div>
    <% end %>

    <% provide :specifications do %>
      <%= render partial: "activity_specifications_form", locals: {f: f} %>
    <% end %>

  <%= render layout: "layouts/listed_tabs",
              locals: {tabs_content: [ :information,
                                       :specifications],
              title: t('Activity')} do %>
  <% end %>

<% end %>
